<table id="dataTable2">
  <thead>
    <tr>
        <th>職務小類名稱</th>
        <th>專業證照</th>
        <th>證照排名</th>
        <th>npmi</th>
    </tr>
  </thead>
</table>


<script>
  $(document).ready( function () {
    $('#dataTable2').DataTable({
        ajax: {
          url: 'data/job_cert_ranking.json',
          dataSrc: '',
        },
        columns: [ {data:'職務小類名稱'}, {data:'專業證照'}, {data:'證照排名'}, {data:'npmi'} ],
        fixedHeader: true,
        orderMulti: true,
      });
  } );
</script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
  });
</script>
